<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <app-sidebar-logo></app-sidebar-logo>

    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <app-sidebar-user></app-sidebar-user>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                <app-nav-item *ngFor="let item of navItems" [navItem]="item"></app-nav-item>
            </ul>
        </nav>
    </div>
</aside>
